#time= "Rendered at #{Time.now}"

#about= content id: "document:1uHQla-6Rym8hN5hlKcdZXSrdLJbdkKDHG3SL8OSeWZ8", :edit_link => true

#design= content id: "document:18by0Plzcpw6zHQvuUrjFmKkzucLkdeZVLR_3VY04Qy0", :edit_link => true

%h3 About this Design
%p
  This template is released as an open source web design, which means that you are free to use it in any way you want, and edit it in any way you want to. We ask that you leave the "Web design by dreamLogic" link in the footer as a friendly gesture, we would appreciate it very much. But there are no obligations so go ahead if you really want to remove it. 
